swagger: "2.0"
info:
  version: "1.0.0"
  title: Aerohive - Alive Clothing API
# during dev, should point to your local machine
host: localhost:10010
# basePath prefixes all resource paths 
basePath: /api
tags:
  - name: user
    description: User operations
  - name: customer
    description: Customer operations
  - name: store
    description: Store operations
  - name: device
    description: Device operations
# 
schemes:
  # tip: remove http to make production-grade
  - http
  - https
# format of bodies a client can send (Content-Type)
consumes:
  - application/json
# format of the responses to the client (Accepts)
produces:
  - application/json
paths:
  /user/login:
    # binds app logic to a route
    x-swagger-router-controller: userAuth
    post:
      tags:
        - user
      summary: User (store staff) authentication
      description: Logs a user into the app
      operationId: login
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: username
          in: formData
          description: The login user name
          required: true
          type: string
        - name: password
          in: formData
          description: The login password
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Success"
        default:
          description: Error
          schema:
            $ref: "#/definitions/Error" 
  /user/logout:
    x-swagger-router-controller: userAuth
    get:
      tags:
        - user
      summary: Logs out the current user session
      description: ""
      operationId: logout
      consumes:
        - application/json
      produces:
        - application/json
      parameters: 
        - name: accessToken
          in: query
          required: true
          type: string
      responses:
        default:
          description: Success
          schema:
            $ref: "#/definitions/Success"
  /user:
    x-swagger-router-controller: userController
    post:
      tags:
        - user
      summary: User (store staff) sign up
      description: Adds a new user into the app
      operationId: add
      consumes:
        - application/json
      produces:
        - application/json
      parameters:
        - name: username
          in: formData
          description: The login user name
          required: true
          type: string
        - name: password
          in: formData
          description: The login password
          required: true
          type: string
        - name: firstName
          in: formData
          description: The first name
          required: true
          type: string
        - name: lastName
          in: formData
          description: The last name
          required: true
          type: string
        - name: email
          in: formData
          description: The email address
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/Success"
        default:
          description: Error
          schema:
            $ref: "#/definitions/Error" 
  "/user/{username}":
    x-swagger-router-controller: userController
    get:
      tags:
        - user
      summary: Get user by user name
      description: ""
      operationId: findByUsername
      consumes:
        - application/json      
      produces:
        - application/json
      parameters:
        - name: username
          in: path
          description: "The name that needs to be fetched. Use user1 for testing. "
          required: true
          type: string
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/User"
        "400":
          description: Invalid username supplied
          schema:
            $ref: "#/definitions/Error" 
        "404":
          description: User not found            
          schema:
            $ref: "#/definitions/Error" 
  /customer:
    x-swagger-router-controller: customerController
    get:
      tags:
        - customer
      summary: Fetches the customer list (including VIPs)
      description: ""
      operationId: getCustomers
      consumes:
        - application/json
      produces:
        - application/json
      parameters: []
      responses:
        default:
          description: Success
          schema:
            $ref: "#/definitions/Success"
  /swagger:
    x-swagger-pipe: swagger_raw


# Schema definitions
definitions:
  Success:
    required:
      - message
    properties:
      message:
        type: string
  Error:
    required:
      - message
    properties:
      message:
        type: string
  User:
    required:
      - username
      - password
      - firstName
      - lastName
      - email
    properties:
      id:
        type: integer
        format: int64
      username:
        type: string
      password:
        type: string
      firstName:
        type: string 
      lastName:
        type: string
      email:
        type: string
      phoneNumber:
        type: string
      role:
        type: string
        description: User role